@media (max-width: 1590px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap');

.toggleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleButton {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.basic {
    width: 25%;
    height: 60vh;
}

.price {
    margin-bottom: 0;
}

.learnMore {
    padding: 0.7em 7em;
}


}

@media (max-width: 1280px) {

    .toggleButton {
        width: 30%;
    }

    .slider:before {
        height: 26px;
        width: 26px;
      }

    .basic {
        width: 29%;
        height: 56vh;
    }

}

@media (max-width: 400px) {

    body {
        height: 100vh;
    }

    .mainContent {
        height: 250%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .toggleSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .toggleButton {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .heading h1 {
        font-size: 1.8em;
    }
    
    #annually {
        font-size: 1em;
    }
    
    #monthly {
        font-size: 1em;
    }

    .priceSection {
        height: 290vh;
        position: relative;
        top: 1em;
    }

    .priceSection .sections {
        width: 100%;
        height: 90%;
        flex-direction: column;
        justify-content: space-between;
        gap: 2;
    }
    
    .basic {
        width: 80%;
        height: 100%;
        border-radius: 10px;
    }

    .basic:first-child {
        position: relative;
        top: 0;
    }

    .basic:last-child {
        position: relative;
        top: 2em;
    }

    .basic:hover {
        transform: none;
        background-image: linear-gradient(to right bottom, #ffffff, #ffffff);;
    }

    .basic:hover .typeHeading {
        color: #000;
        font-weight: 400;
        letter-spacing: 0;
    }
    
    .basic:hover .listContent {
        font-size: 1em;
        color: #000000;
    }
    
    .basic:hover .listContent:nth-child(2) {
        border-bottom: 2px black solid;
        border-top: 2px black solid;
    }
    
    .basic:hover .priceSection {
        margin-top: 0;
        padding-top: 10em;
    }
    
    .basic:hover .learnMore {
        background-color: #7d91ff!important;
        color: white;
    }
    
    .basic:hover .price {
        color: black;
    }

    .basic:nth-child(2) {
        position: relative;
        top: 1em;
        background-image: linear-gradient(to right bottom, #dcd8ff, #b2b3ff, #7d91ff, #0072ff);
    }

    .basic:nth-child(2) .learnMore {
        background-color: #ffffff!important;
        color: black;
    }

    .basic:nth-child(2) .listContent:nth-child(2) {
        border-bottom: 2px white solid;
        border-top: 2px white solid;
    }

    .basic:nth-child(2) .typeHeading {
        color: #ffffff;
    }
    
    .basic:nth-child(2) .listContent {
        color: #ffffff;
    }

    .basic:nth-child(2) .price {
        color: #ffffff;
    }

    .typeHeading {
        margin-top: 10px;
    }

    .price {
        margin-top: 0;
        margin-bottom: 0;
    }

    .learnMore {
        padding: 0.4em 5em;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 1px;
        transition: all 100ms;
    }
    
}